/*
* --------------------------------------------
* Custom styles to override the default Bootstrap ones
* --------------------------------------------
*/

/* New Color Palette:
* Antique white (Primary):        #F0E7D8
* Amaranth purple (Secondary):        #A63A50      (canvas background)
* Cinereous (Accent):               #AB9B96
*/
.bg-amaranth {
    background-color: #A63A50;
    /* Force amaranth purple as background */
}

.bg-antique {
    background-color: #F0E7D8;
    /* Force antique white as background */
}

.bg-cinereous {
    background-color: #AB9B96;
    /* Force cinereous as background */
}

.text-antique {
    color: #F0E7D8;
    /* Force antique white as background */
}

.bg-info {
    background-color: #AB9B96 !important;
    /* Amaranth purple for secondary backgrounds */
}

.bg-colour_secondary {
    background-color: #A63A50;
}

.bg-greyed-out {
    background-color: #c2c2c2;
}

.text-colour_secondary {
    color: #A63A50
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
    background-color: #A63A50;
    border-color: #AB9B96;
    color: #F0E7D8;
    /* Cinereous for brand name & nav links for visibility */
}

.container-fluid {
    background-color: #A63A50;
    border-color: #AB9B96;
    color: #F0E7D8;
}

.btn-info {
    color: #F0E7D8;
    /* Antique white for text on info button for contrast */
    background-color: #A63A50;
    /* Amaranth purple for button background */
    border-color: #AB9B96;
    /* Cinereous for button border */
}

.btn-primary {
    color: #F0E7D8;
    /* Antique white for text */
    font-size: 150%;
    background-color: #A63A50;
    /* Amaranth purple for primary button background */
    border-color: #AB9B96;
    /* Cinereous for border to use as accent */
    border-width: thick;
}

body {
    background-color: #F0E7D8;
}

.card {
    border-color: #AB9B96;
    background-color: #A63A50;
    color: #F0E7D8;
}

.card-body {
    border-color: #AB9B96;
    background-color: #F0E7D8;
    color: black;
}

.navbar-brand {
    font-family: 'Roboto', sans-serif;
    font-size: 2.25rem;
}

.responsive {
    width: 100%;
    height: auto;
}

.rounded-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    /* Centers the circle horizontally */
}